<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <div class="time">Nov 2016 - Till Date</div>
    <p>A quick learner which makes me ready to work on new upcoming technologies. I have total 5+ years of experience in which I managed to gain skills like <b>C#, Sql Server, MongoDB, MVC, Rest Api, and Angular Js</b> technologies. Apart from these I am passionate towards IoT and learn and experiments outside the work. Looking forward for an opportunity to work with IoT.</p>
</div><!--//summary-->
</section><!--//section-->
