<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <!-- <h3 class="job-title">Senior Software Developer</h3> -->
                <h3 class="job-title">Text Restaurant</h3>
                <div class="time">Apr 2018 - June 2018</div>
            </div><!--//upper-row-->
            <div class="company">C & C Technology Pvt. Ltd., Hyderabad India</div>
        </div><!--//meta-->
        <div class="details">
            <p>This is sms based food delivery system like Swiggy but based on sms.</p>
            <p>I had responsibility of automate the sms'ed text coming to the server. I made it using API.AI bot framework to do so. Hosted the business logic in node server. I had responsibility to Develop this site using PWA to make it available acrosss the devices.</p>
        </div><!--//details-->
    </div><!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <!-- <h3 class="job-title">Senior Software Developer</h3> -->
                <h3 class="job-title">Tenor</h3>
                <div class="time">Nov 2017 - Apr 2018</div>
            </div><!--//upper-row-->
            <div class="company">C & C Technology Pvt. Ltd., Hyderabad India</div>
        </div><!--//meta-->
        <div class="details">
            <p>Tenor is an AI project which is designed to automate the medical scribe that listens to the patients visit via a small microphone and creates accurate note in real time.</p>
            <p>The responsibility i had to design the architecture of the application, develop the whole code and deploy to the linux environment. I used MEAN Stack to develop this application. It involved bot framework(API.AI), Web speech API.</p>
        </div><!--//details-->
    </div><!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <!-- <h3 class="job-title">Senior Software Developer</h3> -->
                <h3 class="job-title">Neo-Int Platform</h3>
                <div class="time">Nov 2016 - Oct 2016 </div>
            </div><!--//upper-row-->
            <div class="company">iConcept Software Services Pvt. Ltd., Hyderabad India</div>
        </div><!--//meta-->
        <div class="details">
            <p>Neo-Int Platform - This is a SAAS(Software As A Service) platform which is designed to solve many business problem in agri domain. What makes this platform unique is the genericness and dynamic nature. it is designed to be highly customisable from customer perspective.</p>
            <p>The technology i enhanced during the development of this tool was Rest Api and Angular Js. I used my favorite language C#-6.0 for this. The design patterns i used were composite,Task Queue, and specification. </p>
        </div><!--//details-->
    </div><!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <!-- <h3 class="job-title">Senior Software Developer</h3> -->
                <h3 class="job-title">KPMG Showcase</h3>
                <div class="time">Sept 2016 - Nov 2016</div>
            </div><!--//upper-row-->
            <div class="company">Orion India, Kochi India</div>
        </div><!--//meta-->
        <div class="details">
            <p>Showcase - One click Restore, was very interesting project where all the information was taken from config and was extensible enough to extend the item without changes in the code.I was focused towards designing and development of a tool which was used to restore the information on a click. As part of deliverables i was also responsible for delivering a quality tool with lesser bugs possible.</p>
            <p>The technology i enhanced during the development of this tool was WPF and WCF. I used my favorite language C#-6.0 for this. The design patterns i used were facade and command. </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <!-- <h3 class="job-title">Software Developer</h3> -->
                <h3 class="job-title">KPMG Global Video</h3>
                <div class="time">Jan 2016 - Aug 2016</div>
            </div><!--//upper-row-->
            <div class="company">Orion India, Kochi India</div>
        </div><!--//meta-->
        <div class="details">
            <p>“Global Video Library” is project to display list of videos to the public who is authenticated. All authenticated users have privilege to upload a video to the Azure Cloud Storage in Blob through SAS. There is an admin page as well where admin can publish the video to the public site once reviewed. All these videos are encrypted by AES-128 to ensure the content of video security.</p>

            <p>Role of designing and development of a video portal based on technologies Azure Media Services and MVC. Administered the database involved in the project.</p>

        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <!-- <h3 class="job-title">Software Developer</h3> -->
                <h3 class="job-title">Orion Code Cop</h3>
                <div class="time">May 2015 - Aug 2016</div>
            </div><!--//upper-row-->
            <div class="company">Orion India, Kochi India</div>
        </div><!--//meta-->
        <div class="details">
            <p>Orion Code-Cop is an application which helps you to improve the quality of code you write. The philosophy behind this is from a great person “I cannot write quality code always but can be achieved if reminded”. This application is meant for developer who would like to achieve quality code.</p>
            <p>This project has been very important part of my coding life. I was an individual contributor to this project with help of an Application Architect. Once my Architect lead said "Try to sing group song alone". I took that as token of appreciation. We used Roslyn compiler platform as a service to develop this VS Extension. Apart from this i had one helper website created with the help of Orchard CMS. A database created in Mongo Server. A couple of REST Api's.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <!-- <h3 class="job-title">Software Developer</h3> -->
                <h3 class="job-title">Visualization</h3>
                <div class="time">Nov 2014 - july 2015</div>
            </div><!--//upper-row-->
            <div class="company">Orion India, Kochi India</div>
        </div><!--//meta-->
        <div class="details">
            <p> KAAP is an application enhanced audit Process. It uses automated audit procedures to replace or complement traditional manual audit procedures. It performs data analysis through detailed automated testing of data extracted from a client's ERP systems. At the end it produces reports and audit documentations that can be used in discrete areas of audit testing.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <!-- <h3 class="job-title">Software Developer</h3> -->
                <h3 class="job-title">KAAP - KPMG Automated Audit Procedure</h3>
                <div class="time">Nov 2012 - Oct 2014</div>
            </div><!--//upper-row-->
            <div class="company">Orion India, Kochi India</div>
        </div><!--//meta-->
        <div class="details">
            <p> KAAP is an application enhanced audit Process. It uses automated audit procedures to replace or complement traditional manual audit procedures. It performs data analysis through detailed automated testing of data extracted from a client's ERP systems. At the end it produces reports and audit documentations that can be used in discrete areas of audit testing.</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
