<div class="interests-container container-block">
<h2 class="container-block-title">Interests</h2>
<ul class="list-unstyled interests-list">
<li>Playing Guitar</li>
<li>Reading Book</li>
<li>Chess</li>
<li>Cricket</li>
<li>Hardware</li>
<li>Cooking</li>
</ul>
</div><!--//interests-->




<div class="remove-container container-block">
<h2 class="container-block-title">Public Sessions</h2>
<ul class="list-unstyled interests-list">
<a href="#"><li>Mongo DB</li></a>
<a href="https://www.eventbrite.com/e/user-group-meeting-16th-january-2016-saturday-kochi-tickets-20448138934"><li>IOT</li></a>
<a href="https://www.eventbrite.com/e/k-mug-techday-sept-2016-tickets-27787387825"><li>New in C# 7.0</li></a>
</ul>
</div><!--//interests-->