<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Hobby Projects</h2>
    <div class="intro">
        <p>Ideas keep coming to me, few of them i pick to work for that whenever i was free. I got couple of hobby projects in my list.</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="#hook">Resistossistance</a></span> - <span class="project-tagline">This application is another hobby project which is tribute to all my electronics buddies, This helps you to calculate the resistance of a resistor based on your voice command. Here is the app <a href="https://play.google.com/store/apps/details?id=com.resistor.java.resistossitanceapp">link</a>. This was developed with the help of another enthusiastic android developer <b>Saroj Kumari</b>.This uses the bot framework to do the job.</span>

    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#hook">Email Automation Framework</a></span> - <span class="project-tagline">I wanted automate a mail system to be sent periodically. i thought this is a common problem, then i thought let's make a framework where user can modify every content of it. Right now it's available in git-hub.</span>

    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Bookshelf</a></span> -
        <span class="project-tagline">This is very interesting project, this i am doing along with my friend Abhijit. We two started working on this project just for fun, and it's almost done. This involves nodeJs and mongoDB.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Handwriting Recognition</a></span> - <span class="project-tagline">This project came in my mind when a attendance sheet had to be tracked, currently it was involving manual entry to excel sheet. My attempt was to automate it.I used open CV</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Raspberry PI</a></span> - <span class="project-tagline">As hobby i like experimenting with electronics circuit and play with it.I bought raspberry-pi 2 to play with it, I created an api and hosted to server, and raspberry-pi to listen it and respond accordingly. I could control lights or any electrical device independent of distance.</span>
    </div><!--//item-->
</section><!--//section-->